 <header><h1 id="h1">My Tech Blog</h1></header>
            <div class="row">
                <div class="col-md-4">
                    <div class="card" >
                        <div class="card-header">
                          <h5></h5>
                        </div>
                        <ul class="list-group list-group-flush">
                          {{#each techblogs}}
                            {{#unless devoured}}
                              <li class="list-group-item">{{> techblogs/techblog-block devoured=true}}</li>
                            {{/unless}}
                          {{/each}}
                        </ul>
                      </div>
                </div> 
                <div id="inputDiv" class="col-md-4">
                    <div class="card">
                        <img src="./assets/css/1.PNG" class="card-img-top" width="50%" alt="techblog">
                            <div class="card-body">
                                <form class="create-form">
                                    <p>Type the name of your techblog and click on submit</p>
                                        <div class="input-group">
                                            <div class="col">
                                                <input type="text" id="Burg" class="form-control" placeholder="Example: any techblog website">
                                            </div>
                                        </div>
                                        <div>
                                            <button type="submit" class="btn btn-primary">Submit</button>
                                        </div>
                                </form>
                            </div>
                    </div>
                </div> 
                <div class="col-md-4">
                <div class="card" >
                    <div class="card-header">
                      <h5>history post </h5>
                    </div>
                    <ul class="list-group list-group-flush">
                        {{#each techblogs}}
                            {{#if devoured}}
                                <li class="list-group-item">{{> techblogs/techblog-block devoured=false}}</li>
                            {{/if}}
                        {{/each}}
                    </ul>
                  </div>
                </div>
            </div>
        </div>
