#body {
    background-color: rgb(70, 168, 247);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left: 10%;
    margin-right: 10%;
}

#inputDiv {
    padding-left: 0px;
    padding-right: 0px;
}

.btn-primary {
    padding: 5px;
    margin-left: 0;
    font-size: medium;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.form-control{
    font-size: 15px;
    font-style: italic;
}

.input-group {
    padding-bottom: 20px;
}

#h1 {
    text-align: center;
    color: rgb(57, 55, 55);
    font-size: 55px;
}

h5 {
    text-align: left;
    margin: 50px 0 0 0;
    font-size: medium;
}

p {
    text-align: left;
}

.create-form p{
    font-size: small;
}
@media only screen and (max-width: 1024px) {
    
    #body {
        margin-left: 2%;
        margin-right: 0%;
    }

}